  <div class="card">
    <div class="card-header bordered">
      <div class="header-block">
        <h3 class="title">Add event</h3>
      </div>
    </div>
    <div class="alert alert-{{message.type}}"
         *ngIf="message.text"
    >{{message.text}}</div>
    <div class="card-block">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label class="control-label" for="category">Select a category</label>
          <select
                  class="form-control"
                  id="category"
                  required
                  name="category"
                  [ngModel]="1"
          >
            <option
            *ngFor="let c of categories"
            [value]="c.id"
            >
              {{c.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Select a type</label>
          <div *ngFor="let t of type">
            <label>
              <input
                      class="radio"
                      name="type"
                      type="radio"
                      [value]="t.type"
                      required
                      [ngModel]="'outcome'"
              >
              <span>{{t.label}}</span>
            </label>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':amount.invalid && amount.touched}">
          <label class="control-label" for="amount">Please write amount</label>
          <input type="number"
                 id="amount"
                 class="form-control"
                 required
                 min="1"
                 [ngModel]="1"
                 name="amount"
                 #amount="ngModel"
          >
          <span class="form-help-text" *ngIf="amount.invalid && amount.touched">
            Field must be full
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error':description.invalid && description.touched}">
          <label class="control-label" for="description">Please write description</label>
          <input type="text"
                 id="description"
                 class="form-control"
                 required
                 ngModel
                 name="description"
                 #description="ngModel"
          >
          <span class="form-help-text" *ngIf="description.invalid && description.touched">
            Field must be full
          </span>
        </div>
        <button
                type="submit"
                class="btn btn-primary"
                [disabled]="f.invalid"
        >Add</button>
      </form>
    </div>
  </div>