<p class="text-xs-center">Registration</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group"
         [ngClass]="{'has-error':form.get('email').invalid && form.get('email').touched}"
    >
        <label for="email">Email</label>
        <input
                type="text"
                class="form-control underlined"
                id="email"
                placeholder="Email"
                formControlName="email"
        >
        <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
            <span *ngIf="form.get('email')['errors']['required']">Please fill this box</span>
            <span *ngIf="form.get('email')['errors']['email']">Please write correct email</span>
            <span *ngIf="form.get('email')['errors']['forbiddenEmail']">This email already used</span>
        </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error':form.get('password').invalid && form.get('password').touched}">
        <label for="password">Password</label>
        <input
                type="password"
                class="form-control underlined"
                id="password"
                placeholder="Password"
                formControlName="password"
        >
        <span class="form-help-text" *ngIf="form.get('password').invalid && form.get('password').touched">
      <span *ngIf="form.get('password')['errors']['required']">Please fill this box</span>
    <span *ngIf="form.get('password')['errors']['minlength']">
      Password must be more thane {{form.get('password')['errors']['minlength']['requiredLength']}} symbol , but now written
      {{form.get('password')['errors']['minlength']['actualLength']}}
    </span>
    </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error':form.get('name').invalid && form.get('name').touched}">
        <label for="name">Name</label>
        <input
                type="text"
                class="form-control underlined"
                id="name"
                placeholder="Name"
                formControlName="name"
        >
        <span class="form-help-text" *ngIf="form.get('name').invalid && form.get('name').touched">
      <span *ngIf="form.get('name')['errors']['required']">Please fill this box</span>
    </span>
    </div>
    <div class="form-group" [ngClass]="{'has-error':form.get('agree').invalid && form.get('agree').touched}">
        <label for="agree">
            <input class="checkbox" id="agree" type="checkbox" formControlName="agree">
            <span>I am agree with rules</span>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">Register</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Do you have account?
            <a [routerLink]="'/login'">
               to Login!
            </a>
        </p>
    </div>
</form>